ec2_vars/appservers.yml
ec2_vars/infrastructure.yml
vars/app.yml
playbooks/vars/app.yml

# Python stuff
*.pyc

# virtualenv stuff
/lib
/local
/include
/bin
/src

# pip stuff
/pip-selfcheck.json


# vim stuff
*.swp
settings.py

# Failed ansible leftovers...
*.retry
